
/* ------- Default Sliding Door Buttons ------- */
.button_link{
	border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    height: 19px;
    margin: 5px 10px 5px 0;
    padding: 9px 13px 0;
    text-decoration: none !important;
    text-transform:uppercase;
    color:#555 !important;
    border:1px solid #000;
    line-height:11px;
    background-image: url(../../images/shortcodes/buttons/s5_buttons/light_grey.png);
    border:1px solid #23282F;
    text-shadow:none !important;
}
.button_link.large_button{
	font-size: 14px;
    height: 24px;
    line-height: 14px;
    padding: 11px 10px 0;
    background-position:0 -28px;
}
.button_link:hover{text-decoration:none !important;}


/* -------  Alternate Color Buttons & Box Headers ------- */
/*
.coffee_gradient, .coffee_gradient span{background-image: url(../../images/shortcodes/buttons/coffee/button_sprite.png) !important; color:#fff !important; text-shadow:0 -1px 0 #888 !important;border:1px solid #0E0C08 !important;}
.teal_gradient, .teal_gradient span{background-image: url(../../images/shortcodes/buttons/teal/button_sprite.png) !important; color:#fff !important; text-shadow:0 -1px 0 #888 !important;border:1px solid #07171D !important;}
.copper_gradient, .copper_gradient span{background-image: url(../../images/shortcodes/buttons/copper/button_sprite.png) !important; color:#fff !important; text-shadow:0 -1px 0 #888 !important;border:1px solid #150000 !important;}
.deep_sea_green_gradient, .deep_sea_green_gradient span{background-image: url(../../images/shortcodes/buttons/deep_sea_green/button_sprite.png) !important; color:#fff !important; text-shadow:0 -1px 0 #888 !important;border:1px solid #06080A !important;}
.earthy_green_gradient, .earthy_green_gradient span{background-image: url(../../images/shortcodes/buttons/earthy_green/button_sprite.png) !important; color:#fff !important; text-shadow:0 -1px 0 #888 !important;border:1px solid #474905 !important;}
.hot_pink_gradient, .hot_pink_gradient span{background-image: url(../../images/shortcodes/buttons/hot_pink/button_sprite.png) !important; color:#fff !important; text-shadow:0 -1px 0 #888 !important;border:1px solid #8F0C68 !important;}
.navy_gradient, .navy_gradient span{background-image: url(../../images/shortcodes/buttons/navy/button_sprite.png) !important; color:#fff !important; text-shadow:0 -1px 0 #888 !important;}
.primary_blue_gradient, .primary_blue_gradient span{background-image: url(../../images/shortcodes/buttons/primary_blue/button_sprite.png) !important; color:#fff !important; text-shadow:0 -1px 0 #888 !important; border:1px solid #004B7A !important;}
.primary_green_gradient, .primary_green_gradient span{background-image: url(../../images/shortcodes/buttons/primary_green/button_sprite.png) !important; color:#fff !important; text-shadow:0 -1px 0 #888 !important;}
.primary_orange_gradient, .primary_orange_gradient span{background-image: url(../../images/shortcodes/buttons/primary_orange/button_sprite.png) !important; color:#fff !important; text-shadow:0 -1px 0 #888 !important;}
.primary_purple_gradient, .primary_purple_gradient span{background-image: url(../../images/shortcodes/buttons/primary_purple/button_sprite.png) !important; color:#fff !important; text-shadow:0 -1px 0 #888 !important;}
.primary_red_gradient, .primary_red_gradient span{background-image: url(../../images/shortcodes/buttons/primary_red/button_sprite.png) !important; color:#fff !important; text-shadow:0 -1px 0 #888 !important;}
.rich_black_gradient, .rich_black_gradient span{background-image: url(../../images/shortcodes/buttons/rich_black/button_sprite.png) !important; color:#fff !important; text-shadow:0 -1px 0 #888 !important;}
.sienna_gradient, .sienna_gradient span{background-image: url(../../images/shortcodes/buttons/sienna/button_sprite.png) !important; color:#fff !important; text-shadow:0 -1px 0 #888 !important;}
.silver_gradient, .silver_gradient span{background-image: url(../../images/shortcodes/buttons/silver/button_sprite.png) !important; color:#fff !important; text-shadow:0 -1px 0 #888 !important;}
.slate_grey_gradient, .slate_grey_gradient span{background-image: url(../../images/shortcodes/buttons/slate_grey/button_sprite.png) !important; color:#fff !important; text-shadow:0 -1px 0 #888 !important;}
.soft_purple_gradient, .soft_purple_gradient span{background-image: url(../../images/shortcodes/buttons/soft_purple/button_sprite.png) !important; color:#fff !important; text-shadow:0 -1px 0 #888 !important;}
.soft_teal_gradient, .soft_teal_gradient span{background-image: url(../../images/shortcodes/buttons/soft_teal/button_sprite.png) !important; color:#fff !important; text-shadow:0 -1px 0 #888 !important;}
.glossy_black_gradient, .glossy_black_gradient span{background-image: url(../../images/shortcodes/buttons/glossy_black/button_sprite.png) !important; color:#fff !important; text-shadow:0 -1px 0 #888 !important;}
.glossy_blue_gradient, .glossy_blue_gradient span{background-image: url(../../images/shortcodes/buttons/glossy_blue/button_sprite.png) !important; color:#fff !important; text-shadow:0 -1px 0 #888 !important;}
.glossy_green_gradient, .glossy_green_gradient span{background-image: url(../../images/shortcodes/buttons/glossy_green/button_sprite.png) !important; color:#fff !important; text-shadow:0 -1px 0 #888 !important;}
.glossy_purple_gradient, .glossy_purple_gradient span{background-image: url(../../images/shortcodes/buttons/glossy_purple/button_sprite.png) !important; color:#fff !important; text-shadow:0 -1px 0 #888 !important;}
.glossy_red_gradient, .glossy_red_gradient span{background-image: url(../../images/shortcodes/buttons/glossy_red/button_sprite.png) !important; color:#fff !important; text-shadow:0 -1px 0 #888 !important;}
.glossy_teal_gradient, .glossy_teal_gradient span{background-image: url(../../images/shortcodes/buttons/glossy_teal/button_sprite.png) !important; color:#fff !important; text-shadow:0 -1px 0 #888 !important;}
.black_glass_gradient, .black_glass_gradient span{background-image: url(../../images/shortcodes/buttons/black_glass_space/button_sprite.png) !important; color:#fff !important; text-shadow:0 -1px 0 #888 !important;}
.frosted_glass_gradient, .frosted_glass_gradient span{background-image: url(../../images/shortcodes/buttons/frosted_glass_wood/button_sprite.png) !important; color:#fff !important; text-shadow:0 -1px 0 #888 !important;}
.classic_white_lights_gradient, .classic_white_lights_gradient span{background-image: url(../../images/shortcodes/buttons/classic_white/button_sprite.png) !important; color:#fff !important; text-shadow:0 -1px 0 #888 !important;}
.classic_silver_gradient, .classic_silver_gradient span{background-image: url(../../images/shortcodes/buttons/classic_silver/button_sprite.png) !important; color:#fff !important; text-shadow:0 -1px 0 #888 !important;}
.soft_orange_gradient, .soft_orange_gradient span{background-image: url(../../images/shortcodes/buttons/soft_orange/button_sprite.png) !important; color:#fff !important; text-shadow:0 -1px 0 #888 !important;}
.olive_gradient, .olive_gradient span{background-image: url(../../images/shortcodes/buttons/olive/button_sprite.png) !important; color:#fff !important; text-shadow:0 -1px 0 #888 !important;}
.wine_gradient, .wine_gradient span{background-image: url(../../images/shortcodes/buttons/wine/button_sprite.png) !important; color:#fff !important; text-shadow:0 -1px 0 #888 !important;}
.blue_gradient, .blue_gradient span{background-image: url(../../images/shortcodes/buttons/blue/button_sprite.png) !important; color:#fff !important; text-shadow:0 -1px 0 #888 !important; border:1px solid #01426C !important;}
.steel_blue_gradient, .steel_blue_gradient span{background-image: url(../../images/shortcodes/buttons/steel_blue/button_sprite.png) !important; color:#fff !important; text-shadow:0 -1px 0 #888 !important;border:1px solid #4C748D !important;}
.tan_gradient, .tan_gradient span{background-image: url(../../images/shortcodes/buttons/tan/button_sprite.png) !important; color:#fff !important; text-shadow:0 -1px 0 #888 !important;}
.lavender_gradient, .lavender_gradient span{background-image: url(../../images/shortcodes/buttons/lavender/button_sprite.png) !important; color:#fff !important; text-shadow:0 -1px 0 #888 !important;}
.minimal_white_gradient, .minimal_white_gradient span{background-image: url(../../images/shortcodes/buttons/minimal_white/button_sprite.png) !important; color:#aaa !important; text-shadow:0 -1px 0 #ccc, 0 1px 0 #F2F2F2 !important;}
.minimal_soft_yellow_gradient, .minimal_soft_yellow_gradient span{background-image: url(../../images/shortcodes/buttons/minimal_soft_yellow/button_sprite.png) !important; color:#ADA785 !important; text-shadow:0 -1px 0 #ccc, 0 1px 0 #F2F2F2 !important;}
.minimal_soft_green_gradient, .minimal_soft_green_gradient span{background-image: url(../../images/shortcodes/buttons/minimal_soft_green/button_sprite.png) !important; color:#A3B094 !important; text-shadow:0 -1px 0 #ccc, 0 1px 0 #F2F2F2 !important;}
.minimal_soft_lavender_gradient, .minimal_soft_lavender_gradient span{background-image: url(../../images/shortcodes/buttons/minimal_soft_lavender/button_sprite.png) !important; color:#9C87A6 !important; text-shadow:0 -1px 0 #ccc, 0 1px 0 #F2F2F2 !important;}
.minimal_soft_blue_gradient, .minimal_soft_blue_gradient span{background-image: url(../../images/shortcodes/buttons/minimal_soft_lavender/button_sprite.png) !important; color:#93AAB2 !important; text-shadow:0 -1px 0 #ccc, 0 1px 0 #F2F2F2 !important;}
.minimal_soft_brown_gradient, .minimal_soft_brown_gradient span{background-image: url(../../images/shortcodes/buttons/minimal_soft_brown/button_sprite.png) !important; color:#BFB2A7 !important; text-shadow:0 -1px 0 #ccc, 0 1px 0 #F2F2F2 !important;}
*/
.button_link{
	text-shadow:0 1px 0 rgba(0, 0, 0, 0.4) !important;
}

/* New S5 buttons styles */

.blue{
    background-image: url(../../images/shortcodes/buttons/s5_buttons/blue.png) !important;
    color:#fff !important;
    text-shadow:0 -1px 0 #888 !important;
    border:1px solid #003960 !important;
}

.steel_blue{
    background-image: url(../../images/shortcodes/buttons/s5_buttons/steel_blue.png) !important;
    color:#fff !important;
    text-shadow:0 -1px 0 #888 !important;
    border:1px solid #2F709B !important;
}

.sea_blue{
    background-image: url(../../images/shortcodes/buttons/s5_buttons/sea_blue.png) !important;
    color:#fff !important;
    text-shadow:0 -1px 0 #888 !important;
    border:1px solid #015994 !important;
}

.green{
    background-image: url(../../images/shortcodes/buttons/s5_buttons/green.png) !important;
    color:#fff !important;
    text-shadow:0 -1px 0 #888 !important;
    border:1px solid #008800 !important;
}

.fresh_green{
    background-image: url(../../images/shortcodes/buttons/s5_buttons/fresh_green.png) !important;
    color:#fff !important;
    text-shadow:0 -1px 0 #888 !important;
    border:1px solid #71711A !important;
}

.earth_green{
    background-image: url(../../images/shortcodes/buttons/s5_buttons/earth_green.png) !important;
    color:#fff !important;
    text-shadow:0 -1px 0 #888 !important;
    border:1px solid #1A4A48 !important;
}

.red{
    background-image: url(../../images/shortcodes/buttons/s5_buttons/red.png) !important;
    color:#fff !important;
    text-shadow:0 -1px 0 #888 !important;
    border:1px solid #930000 !important;
}

.light_red{
    background-image: url(../../images/shortcodes/buttons/s5_buttons/light_red.png) !important;
    color:#fff !important;
    text-shadow:0 -1px 0 #888 !important;
    border:1px solid #B61818 !important;
}

.orange{
    background-image: url(../../images/shortcodes/buttons/s5_buttons/orange.png) !important;
    color:#fff !important;
    text-shadow:0 -1px 0 #888 !important;
    border:1px solid #A32E01 !important;
}

.purple{
    background-image: url(../../images/shortcodes/buttons/s5_buttons/purple.png) !important;
    color:#fff !important;
    text-shadow:0 -1px 0 #888 !important;
    border:1px solid #A20D75 !important;
}

.lavander{
    background-image: url(../../images/shortcodes/buttons/s5_buttons/lavander.png) !important;
    color:#fff !important;
    text-shadow:0 -1px 0 #888 !important;
    border:1px solid #8D7799 !important;
}

.grey{
    background-image: url(../../images/shortcodes/buttons/s5_buttons/grey.png) !important;
    color:#fff !important;
    text-shadow:0 -1px 0 #888 !important;
    border:1px solid #909090 !important;
}

.light_grey{
    background-image: url(../../images/shortcodes/buttons/s5_buttons/light_grey.png) !important;
    color:#555 !important;
    text-shadow:0 -1px 0 #888 !important;
    border:1px solid #BBB !important;
    text-shadow:none !important;
}

.dark_grey{
    background-image: url(../../images/shortcodes/buttons/s5_buttons/dark_grey.png) !important;
    color:#fff !important;
    text-shadow:0 -1px 0 #888 !important;
    border:1px solid #2F2F2F !important;
}

.black{
    background-image: url(../../images/shortcodes/buttons/s5_buttons/black.png) !important;
    color:#fff !important;
    text-shadow:0 -1px 0 #888 !important;
    border:1px solid #000000 !important;
}